body {
    background-color: #ffe5ec;
}

header {
    background-color: #ffbcda;
    padding: 20px;
    margin: -8px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
nav li {
    margin: 0 10px;
}
  
nav a {
    text-decoration: none;
    color: #fc6dab;
}
.tit{
    color: #fc6dab;
}